# --- Dependencies (Ignores them everywhere) ---
node_modules/

# --- Build Outputs ---
dist/
build/

# --- Environment Variables & Secrets ---
.env
.env.local
.DS_Store

# --- Backend Specific Secrets ---
backend/serviceAccountKey.json

# --- Logs & System Files ---
npm-debug.log*
yarn-debug.log*
.vscode/
.idea/